<%= form_with(model: referee_pay) do |form| %>
  <% if referee_pay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(referee_pay.errors.count, "error") %> prohibited this referee_pay from being saved:</h2>

      <ul>
        <% referee_pay.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :referee_position_id %>
    <%= form.text_field :referee_position_id %>
  </div>

  <div class="field">
    <%= form.label :referee_level_id %>
    <%= form.text_field :referee_level_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
