<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @invitation.state %>
</p>

<p>
  <strong>Referee:</strong>
  <%= @invitation.referee_id %>
</p>

<p>
  <strong>Game:</strong>
  <%= @invitation.game_id %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
