  <!-- Content
  ================================================== -->
  <div class="site-content">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">

          <!-- Personal Information -->
          <div class="card card--lg">
            <div class="card__header">
              <h4>Venue Information</h4>
            </div>
            <div class="card__content">
              <%= form_with model: @venue, class: "df-personal-info" do |form| %>
                <div class="row">
                <div class="col-md-12">
                  <% if venue.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

                      <ul>
                        <% venue.errors.each do |error| %>
                          <li><%= error.full_message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                </div>
                
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.label :address %>
                      <%= form.text_field :address, class: "form-control", placeholder: "Enter Address" %>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group form-group--upload">
                      <div class="form-group__avatar">
                        <%# <img src="../assets/images/samples/avatar-empty.png" alt=""> %>
                        <div class="form-group__label">
                          <%= form.label :photo %><br>
                          <%= form.file_field :photo, class: "btn btn-default btn-xs btn-file" %>
                          <%# <span>Minimum size 60x60px</span> %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group--submit">
                  <button type="submit" class="btn btn-default btn-lg btn-block" style="width: 100%;">Save Changes</button>
                </div>

              <% end %>
            </div>
          </div>
          <!-- Personal Information / End -->
        </div>
      </div>
    </div>
  </div>
